.peer-connections {
	font-size: 0.8em;
	color: var(--color-grey);
}

	.peer-connections ul {
		list-style-type: none;
		margin: 0 20px 20px;
		padding: 0;
	}

.drop-area {
	border: 4px dashed var(--color-grey);
	border-radius: 20px;
	padding: 40px;
	text-align: center;
	color: var(--color-grey);
}

	.drop-area.active {
		border-style: solid;
		border-color: var(--color-highlight);
		color: var(--color-highlight);
	}

.gallery {
	margin: 40px 0;
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	gap: 20px;
}

	.gallery li {
		display: inline-block;
	}

		.gallery label {
			display: block;
			border: 2px solid var(--color-grey);
			padding: 10px;
			border-radius: 10px;
			cursor: pointer;
		}

			.gallery li label:hover {
				background: var(--color-grey-light);
			}

			.gallery li:has(input:checked) label {
				border-color: var(--color-highlight);
				background: var(--color-grey-light);
			}

		.gallery .element-title {
			display: block;
			font-size: 0.8em;
			text-align: center;
			margin-top: 5px;
		}

			.gallery li .element-title.no-image {
				width: 200px;
				min-height: 200px;
				text-align: center;
				color: var(--color-grey);
				display: flex;
				justify-content: center;
				align-items: center;
			}

		.gallery img {
			display: block;
			margin: 0 auto;
			height: 200px;
			width: auto;
			border-radius: 3px;
		}
